.wrap {
    display:flex;
    justify-content: center;
}

.block1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.block2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

h1 {
    text-align: center;
}